<!DOCTYPE html>
<html>
<head>
    <title>Change Nickname</title>
</head>
<body>
    <h1>Change Nickname</h1>
    <form action="/changeNickname" method="POST">
        <label for="newNickname">New Nickname:</label>
        <input type="text" id="newNickname" name="newNickname" required><br>
        <button type="submit">Change Nickname</button>
    </form>
</body>
</html>
