<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <!-- 각 브라우저의 기본 스타일을 초기화 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css">
    <!-- 구글 폰트: main.css보다 먼저 불러올 수 있도록 한다 -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap" rel="stylesheet">
    <!-- Google material Icon -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <title>login</title>
    <style>
        body
        {
        background-color: #24222c;
        }
        .desktop-3
        {
        position:absolute;
        background-color:#24222c;
        height:100%;
        width:100%;
        padding:0px;
        top: -100px;
        left: 40px;
        }
        .plimate
        {
	text-decoration-line: none;
        color:#ffffff;
        text-align:left;
        vertical-align:text-top;
        font-size:36px;
        font-family:Inter;
        line-height:auto;
        border-style:hidden;
        outline:none;
        left:705px;
        top:275px;
        position:absolute;
        width:155px;
        }
        .group2
        {
        width:84px;
        height:88px;
        top:244px;
        left:576px;
        position:absolute;
        }
        .rectangle6
        {
        background-color:#a6f5b8;
        height:61.468658447265625px;
        width:17.16521644592285px;
        top:20px;
        left: 22px;
        position:absolute;
        }
        .rectangle7
        {
        background-color:#dcf4ff;
        height:88px;
        width:24.104347229003906px;
        top: -6.01px;
        left: 47.2px;
        position:absolute;
        }
        .rectangle8
        {
        background-color:#d0a2a2;
        height:44.131343841552734px;
        width:26.660869598388672px;
        top: 37.33px;
        left: 79.33px;
        position:absolute;
        }
        .id
        {
        color:#ffffff;
        text-align:left;
        vertical-align:text-top;
        font-size:36px;
        font-family:Inter;
        left:486px;
        top:460px;
        width:36px;
        height:44px;
        position:absolute;
        line-height:auto;
        border-style:hidden;
        outline:none;
        }
        .password
        {
        color:#ffffff;
        text-align:left;
        vertical-align:text-top;
        font-size:36px;
        font-family:Inter;
        left:419px;
        top:564px;
        width:171px;
        height:44px;
        position:absolute;
        line-height:auto;
        border-style:hidden;
        outline:none;
        }
        .rectangle9
        {
        background-color:#d9d9d9;
        height:50px;
        width:344px;
        top:460px;
        left:614px;
        position:absolute;
        }
        .rectangle10
        {
        background-color:#d9d9d9;
        height:50px;
        width:344px;
        top:558px;
        left:614px;
        position:absolute;
        }

        .rectangle11
        {
        background-color:#67a6e1;
        height:50px;
        width:163px;
        border-radius:50px;
        top:689px;
        left:693px;
        position:absolute;

        }
        .done
        {
        color:#ffffff;
        text-align:left;
        vertical-align:text-top;
        font-size:24px;
        font-family:Inter;
        left:744px;
        top:700px;
        width:61px;
        height:29px;
        position:absolute;
        line-height:auto;
        border-style:hidden;
        outline:none;
        }
    </style>
</head>
<body>
    <div id='desktop-3' class='desktop-3'>
        <a href='/' id='plimate' class='plimate'>PLIMATE</a>
        <div id='group2' class='group2'>
            <div id='rectangle6' class='rectangle6'>
            </div>
            <div id='rectangle7' class='rectangle7'>
            </div>
            <div id='rectangle8' class='rectangle8'>
            </div>
        </div>
        <div id='id' class='id'>ID</div>
        <div id='password' class='password'>Password</div>
        <form method="post">
            <input type="text" name="id" id='rectangle9' class='rectangle9' required></input>
            <input type="password" name="pw" id='rectangle10' class='rectangle10' required></input>
	    <input type="submit" style="color: transparent" id='rectangle11' class='rectangle11'></input>
            <div id='done' class='done'>Done</div>
        </form>
    </div>
</body>
</html>
