<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>플리메이트</title>
</head>
<body>
    <nav>
        <div class="container">
            <div class="title">
                <i class="fab fa-pied-piper-square"></i>
                <a href="/">플리메이트</a>
            </div>
            <div class="menu_bar">
                <ul>
                <% if(is_logined == false){ %>
                    <li><a href="/logInPli">login</a></li>
                    <li><a href="/register">register</a></li>  
                <% }else{ %>
                    <li><%= name %> 님 환영합니다!</li>
		    <li><a href="/chatRoom">채팅방 입장</a></li>
		    <li><a href="/playlists">나의 플레이리스트 목록보기</a></li>
		    <li><a href="/searchsong">search song</a></li>
		    <li><a href="/profile">내 정보</a></li>
                    <li><a href="/logout">로그아웃</a></li>
                <% } %>
                </ul>
            </div>
        </div>
    </nav>
</body>
</html>
